/*------------------------------
=305229742 IDO COHEN
------------------------------*/

/*------------------------------
=BASIC SETUP
------------------------------*/

/* Makeshift CSS Reset yoav AAA*/
.shauli {
	margin: 0;
	padding: 0;
}
.shauli @font-face {
   font-family: myFirstFont;
   src: url(sansation_light.woff);
}

/* Tell the browser to render HTML 5 elements as block */
 header,  footer,  section,  aside,  nav,  article {
	display: block;
}
/* h1 shadow text */
 h1{
	text-shadow: 3px 3px #DDDDDD;
}

 body.shaliBody {
	margin: 0 auto;
	padding: 22px 0;
	width: 940px;
	font: 13px/22px Helvetica, Arial, sans-serif;
	background: #F0F0F0;
}

.shauli h1, h2 {
	font-size: 28px;
	line-height: 44px;
	padding: 22px 0;
    color:blue;
}

.shauli h3 {
	font-size: 18px;
	line-height: 22px;
	padding: 11px 0;
}

.shauli p {
	padding-bottom: 22px;
}



/*------------------------------
=NAVIGATION
------------------------------*/

.shauli nav {
	position: absolute;
	left: 0;
	width: 100%;
	/*background: url("images/nav_background.png");*/
	
    background: #003300; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#003300, #001a00); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#003300, #001a00); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#003300, #001a00); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#003300, #001a00); /* Standard syntax */

}

	.shauli nav ul {
		margin: 0 auto;
		width: 940px;
		list-style: none;
	}

		.shauli nav ul li {
			float: left;
		}
		
			.shauli nav ul li a {
				display: block;
				margin-right: 20px;
				width: 140px;
				font-size: 14px;
				line-height: 44px;
				text-align: center;
				text-decoration: none;
				color: #777;
			}
			
				.shauli nav ul li a:hover {
					color: #fff;
				}
			
			.shauli nav ul li.selected a {
				color: #fff;
			}
			
			.shauli nav ul li.subscribe a {
				margin-left: 22px;
				padding-left: 30px;
				text-align: left;
				/*background: url("images/rss.png") left center no-repeat;*/
			}
			.shauli nav ul li.rss{ 
                                position:absolute; 
                                margin-left: 655px; 
                                margin-top: 10px; 
                                z-index: 1; 
                        } 
						
			#transDemo2 div { 
				height:23px; 
				width:23px; 
				text-align:center; 
				transition: all 2s ease-in-out; 
			} 

#transDemo2 div:hover, #transDemo2 div.hover_effect { 

  transform:rotate(720deg) scale(2,2); 
} 



/*------------------------------
=INTRODUCTION
------------------------------*/

#intro {
	position: relative;
	margin-top: 66px;
	padding: 44px;
	/*background: #467612 url("images/intro_background.png") repeat-x;*/
	/*Gradient background*/
	background: #B3DC10; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#B3DC10, #477712); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#B3DC10, #477712); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#B3DC10, #477712); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#B3DC10, #477712); /* Standard syntax */

	
	/* Background-size not implemented yet */
	-webkit-background-size: 100%;
	-o-background-size: 100%;
	-khtml-background-size: 100%;

	
	/* Border-radius not implemented yet */
	-moz-border-radius: 22px;
	-webkit-border-radius: 22px;
}

	#intro h2, #intro p {
		position: relative;
		z-index: 9999;
		width: 436px;
	}
	
	#intro h2 {
		padding: 0 0 22px 0;
		font-weight: normal;
		color: #fff;
	}
	
	#intro p {
		padding: 0;
		color: #d9f499;
	}
	
	#intro img {
		position: absolute;
		top: 0;
		right: 0;
		width: 653px;
		height: 100%;
	
		/* Border-radius not implemented yet */
		-moz-border-radius: 22px;
		-webkit-border-radius: 22px;
	}


/*------------------------------
=CONTENT AREA AND SIDEBAR LAYOUT
------------------------------*/

#content {
	display: table;
}

	#mainContent {
		display: table-cell;
		width: 620px;
		padding-right: 22px;
		font-family: myFirstFont;
	}
	
	aside {
		display: table-cell;
		width: 300px;
		background: url("images/sidebar_background.png") top left;
	}


/*------------------------------
=SIDEBAR
------------------------------*/
aside section {
	margin: 22px 0 0 22px;
	padding: 11px 22px;
	/*background: url("images/sidebar_section_background.png") repeat-x;*/
		/*Gradient background*/
	background: #b3b3b3; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#b3b3b3, #bfbfbf); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#b3b3b3, #bfbfbf); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#b3b3b3, #bfbfbf); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#b3b3b3, #bfbfbf); /* Standard syntax */

	/* Border-radius not implemented yet */
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
}

	aside section ul {
		margin: 0 0 0 22px;
		list-style: none;
	}
	
		aside section ul li a {
			display: block;
			text-decoration: none;
			color: #000;
		}
		
			aside section ul li a:hover {
				text-decoration: underline;
			}

/*------------------------------
=BLOG POST
------------------------------*/
.blogPost header p, .blogPost header p a {
		font-size: 14px;
		font-style: italic;
		color: #777;
	}
	
		.blogPost header p a:hover {
			text-decoration: none;
			color: #000;
		}

.blogPost div {
	/* Column-count not implemented yet */
	-moz-column-count: 2;
	-webkit-column-count: 2;
	
	/* Column-gap not implemented yet */
	-moz-column-gap: 22px;
	-webkit-column-gap: 22px;
}

.blogPost img {
	margin: 22px 0;
	-webkit-box-shadow: 3px 3px 7px #777;
}

.blogPost video {
	margin: 12px 0;
	width: 100%;
	height: auto;
	-webkit-box-shadow: 3px 3px 7px #777;
}

section#comments article:nth-child(2n+1){
	padding: 21px;
	background: #E3E3E3;
	border: 1px solid #d7d7d7;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
}
section#comments article:nth-child(2n){
	padding: 21px;
	background: #F0F0F0;
	border: 1px solid #d7d7d7;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
}
/*Search section*/
section#search {
	padding: 5px;
	text-align: center;
	background: #F3F3F3;
	border: 1px solid #d7d7d7;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
}
/*Lables inside Search section*/
section#search label{
	padding: 2px;
}


#transDemo2 div {
  height:30px;
  width:30px;
  text-align:center;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -ms-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

#transDemo2 div:hover, #transDemo2 div.hover_effect {
  -webkit-transform:rotate(720deg) scale(2,2);
  -moz-transform:rotate(720deg) scale(2,2);
  -ms-transform:rotate(720deg) scale(2,2);
  transform:rotate(720deg) scale(2,2);
}


footer {
	position: absolute;
	left: 0;
	width: 100%;
	background: #222;
}

	footer div {
		display: table;
		margin: 0 auto;
		padding: 44px 0;
		width: 940px;
		color: #777;
	}

		footer div section {
			display: table-cell;
			width: 300px;
		}

		footer div #about, footer div #blogroll {
			padding-right: 20px;
		}

	footer h3 {
		color: #FFF;
	}

	footer a {
		color: #999;
	}

		footer a:hover {
			color: #FFF;
			text-decoration: none;
		}

	footer ul {
		margin: 0 0 0 40px;
		list-style: square;
		color: #565656;
	}

		footer ul li a {
			display: block;
		}
